body {
    color: #3D3D3D;
    background: #FCFCFC;
    margin: 0;
}
#header-bar {
    width: 100%;
    background-color: #800080;
}

a, a:hover {
    color: #800080;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid #CD4F39;
    outline: 0;
}

#wallpaper {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#splash {
  display: block;
   margin-left: auto;
   margin-right: auto;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #wallpaper {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.login-greeting{
    font-size:1.15em;
    /* color:white; */
}
.login-btn {
    background-color: white !important;
}

hr {
    margin-bottom: 0;
}
.objectClass, .ldapWord {
    color: grey;
}
.attrib_name {
    font-weight: bolder;
    padding-top: 1em;
    display: inline-block;
}
.attribContains {
    font-size: 1.25em;
}
.form-errors {
    color: #800080;
    padding: 0;
    list-style-position: outside;
    list-style-type: none;
}
form dd, form ul {
    margin: 0;
}
.message {
    color: white;
    background-color:#00C957;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.warning {
    color: white;
    background-color:#FF8000;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.error {
    color: white;
    background-color:red;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.hint {
    font-style: italic;
    color: #aaa;
}
.profile-messages {
    width: 100%;
    color: #black;
    background-color: black;
    opacity: 0.4;
    border-radius: 5px;
    padding: 10px;
}
.login-error {
    margin-top: -35px;
    width: 100%;
    color: #CD2626; 
}
