{% extends "userdata.html" %}

{% block form %}

<div style="font-size: 1.2em">
{% if collectiveExists %}
    {{ _("Add user to %s." % user.primary_collective) }}</div>
    <p></p>
    <p>
    <b>{{ _("Is this person a member of %s?" % user.primary_collective ) }}</b>
    <br />
    {{ _("If '%s %s' is not a member of your collective, send us an email: %s" % (user.name, user.surname, config['CONTACT_EMAIL'] )) }}
    </p>
{% endif %} 
{% if not_unique %}
    <i style="color:red;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {% for item in not_unique %}
        <b>{{ _("Please edit") }} {{ item[0] }}:</b> {{ item[1] }}
        <a href="/edit/{{ user.id }}/{{ item[0] }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <br />
    {% endfor %}
    <span class="hint">{{ _("Already exist in the database") }} {{ baseDN }}</span>
    <br />
{% else %}
    {{ _("The new username will be") }}: <b>{{ user.uid }}</b>
    <a href="/edit/{{ user.id }}/uid"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <br /><br />
{% endif %} 

{% if not not_unique and not user.exported %}
    <form method=post>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% if collectiveExists %}
            <input type=submit value="{{ _('Add user to %s' % user.primary_collective ) }}">
        {% else %}
            <input type=submit value="{{ _('Add user') }}">
        {% endif %}
    </form>
{% endif %}

{% endblock %}
