{% extends "ldapattribs.html" %}
{% block form %}

<hr />

<span class="attrib_name">{{ _("Edit avatar") }}</span>
<span class="ldapWord">({{ request.form.attrib }})</span>
<br />

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{ _("Image formats") }}:
    {% for extension in extensions %}
        {{ extension }}
    {% endfor %}
    <br />
    <br />
    <input type="file" name="file">

    <input class="btn btn-default" type="submit" value="Upload">
    <a href="/profile/{{ dn }}" class="button">{{ _("Cancel") }}</a>
</form>

{% endblock %}
