{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

    {% if is_new %}
        <div style="font-size: 1.5em">{{ _("Create group") }}</div>
    {% else %}
        <div style="font-size: 1.5em">{{ _("Edit group: %s" % rdn) }}</div>
        <span class="hint">{{ dn }}</span>
    {% endif %}

<div class="row">
    <div class="columns twelve">

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <dl>
            {% if is_new %}
                {{ render_field(form.rdn) }}
            {% else %}
                <input type="hidden" id="rdn" name="rdn" value="dummy_value_for_validator" />
            {% endif %}
            {% if config['SERVICE_OU_DN'] in dn %}  
                {{ render_field(form.url) }}
            {% endif %}
            <dt>{{ form.description.label }}</dt>
            <dd>
                {% if form.description.errors %}
                    <ul class=form-errors>
                    {% for error in form.description.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <textarea id="description" name="description" style="width:50%">{{ form.description.data }}</textarea>
            </dd>
        </dl>

        <input class="btn btn-default" type="submit" value="{{ _('Save') }}">
        {% if is_new %}
            {% if dn == config['COLLECTIVE_OU_DN'] %}
                <a href="/manage-collectives" class="button">{{ _("Cancel") }}</a>
            {% elif dn == config['SERVICE_OU_DN'] %}
                <a href="/manage-services" class="button">{{ _("Cancel") }}</a>
            {% else %}
                <a href="/manage-groups/{{ dn }}" class="button">{{ _("Cancel") }}</a>
            {% endif %}
        {% else %}
            <a href="/group/{{ dn }}" class="button">{{ _("Cancel") }}</a>
        {% endif %}
        
    </form>
    </div>
</div>

{% endblock %}
