{% extends "base.html" %}
{% block content %}




<h2>{{ _("Welcome") }}</h2>

{{ _("index_page") }}

<h2>{{ _("About us") }}</h2>

{{ _("about_page") }}

<img id="splash" src="/static/images/Cartell_commonsCloud.png" />


{% endblock %}
