{% extends "base.html" %}

{% block content %}

<div style="font-size: 1.5em">{{ _("Groups of people") }}</div>
<p>
{{ _("You can manage these groups") }}
</p>

<div style="font-size: 1.25em">{{ _("Services") }}
    {% if session['admin'] %}
        <a href="/create-group/{{ config['SERVICE_OU_DN'] }}" title="{{ _("Add group") }}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
    {% endif %}
</div>
{{ _("Grant or deny people access to these services") }}
<br />

{% for dn, rdn in groups['services'].iteritems() %}
    <a href="/group/{{ dn }}">{{ rdn }}</a>
    <span class="hint">{{ dn }}</span>
    <br />
{% endfor %}

<br />
<div style="font-size: 1.25em">{{ _("Collectives") }}
    {% if session['admin'] %}
        <a href="/create-group/{{ config['COLLECTIVE_OU_DN'] }}" title="{{ _("Add group") }}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
    {% endif %}
</div>
{{ _("Add or remove people from these collectives") }}
<br />

{% for dn, rdn in groups['collectives'].iteritems() %}
    <a href="/group/{{ dn }}">{{ rdn }}</a>
    <span class="hint">{{ dn }}</span>
    <br />
{% endfor %}


{% endblock %}
