{% extends "ldapattribs.html" %}
{% block form %}

<br />
<style>input {margin-bottom:0px;}</style>

<form method="post" action="/update-memberof/{{ dn }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="queried_groups" value="{{ queried_groups }}" />
    {% for rdn in membership %}
        <span class="attrib_name">{{ rdn }}</span>
        <br />
        {% for group in membership[rdn] %}
            {% if group[1] == True %}
            <input type='checkbox' checked=checked name="{{ group[0] }}" value="{{ group[0] }}" /><a href="/group/{{ group[0] }}">{{ group[0] }}</a>
            {% else %}
            <input type='checkbox' name="{{ group[0] }}" value="{{ group[0] }}" /><a href="/group/{{ group[0] }}">{{ group[0] }}</a>
            {% endif %}
            <br />
        {% endfor %}
        <br />
    {% endfor %}
    <input class="btn btn-default" type="submit" value="Update groups">
</form>

<p></p>
{% if user %}
    <hr />
    {% if not user.activation_email_sent %}
        <i class="fa fa-certificate" style="color:#FF8000" aria-hidden="true"></i> {{ _("Onboarding not yet finished") }}<br />
        <span class="hint">{{ _("Send the user an email to set password") }}</span>
        <form action="/activate/{{ dn }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type=submit value="{{ _('Activate account') }}">
        </form> 
    {% else %}
        {% if user.activated %}
            <i class="fa fa-certificate" style="color:#00C957" aria-hidden="true"></i> {{ _("Onboarding complete") }}
            <br />
        {% else %}
            <i class="fa fa-certificate" style="color:#E066FF" aria-hidden="true"></i> {{ _("Waiting for user to set password") }}
            <br />
        {% endif %}
        <span class="hint">{{ _("Send the user an email to set password") }}</span>
        <form action="/activate/{{ dn }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type=submit value="{{ _('Send email again') }}">
        </form> 
    {% endif %}
{% endif %}

{% endblock %}
