{% extends "group.html" %}
{% block form %}

<style>
input {margin-bottom:0px;}
td { padding: 6px 15px; }
li { margin-bottom: 0; }
</style>

<form method="post" style="margin-bottom:0">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if foundUsers %}
        <table>
          <thead>
            <tr>
              <th></th>
              <th>{{ _("Name") }}</th>
              <th>{{ _("Username") }}</th>
              <th>{{ _("Email") }}</th>
              <th>{{ _("Collective") }}</th>
            </tr>
          </thead>
          <tbody>
        {% for user in foundUsers %}
            <tr>
            <td>
            <input type="radio" name="new_member_dn" value="{{ user.dn }}"{% if foundUsers|length == 1 %}checked{% endif %} />
            </td>
            <td>{{ user.name }} {{ user.surname }}</td>
            <td>{{ user.uid }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.primary_collective }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <input class="btn btn-default" type="submit" value="{{ _('Add member') }}">
        <a href="/group/{{ dn }}" class="button">{{ _("Cancel") }}</a>
    {% else %}
    <div style="font-size: 1.25em">{{ _("Add a new member") }}</div>
    <ul>
        {% if not foundUsers %}
            <li>
            {{ _("Search for the person") }}: <input type="text" name="search_text" placeholder="{{ _('min. 4 chars') }}" />
            <input class="btn btn-default" type="submit" value="{{ _('Search') }}">
            </li>
        {% endif %}
        {% if groupInfo['isCollective'] %}
            <li>
            {{ _("If the user is not found, send this link via email") }}: 
            <a href="{{config['THIS_URL']}}/registre/{{ cn }}">{{config['THIS_URL']}}/registre/{{ cn }}</a> 
            </li>
            </ol>
        {% endif %}
    <br />
    {% endif %}
    </ul>
    
</form>

{% endblock %}
