{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<div style="font-size: 1.5em">
    {{ _("Send email to") }}
    {% if groupInfo['isService'] %}
        {{ _("service") }}
    {% elif groupInfo['isCollective'] %}
        {{ _("collective") }}
    {% else %}
        {{ _("group of managers") }}
    {% endif %}
    "{{ attribs['cn'][0] }}"
</div>
<span class="hint">{{ dn }}</span>

<p></p>
<form method="post" style="margin-bottom:0">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    
    <b>{{ _("From") }}:</b> {{ config['NO_REPLY'] }}
    <br />
    <b>{{ _("Recipients") }}:</b> {{ _("Group members") }} ({{ total_recipients }})<span class="hint">{{ _("You will be sent a copy") }}</span>
    <br />
    <dl>     
        {{ render_field(form.subject) }}
        <dt>{{ form.body.label }}</dt>
        <dd>
            {% if form.body.errors %}
                <ul class=form-errors>
                {% for error in form.body.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <textarea id="body" name="body" style="width:50%">{{ form.body.data }}</textarea>
        </dd>
    </dl>

    <input class="btn btn-default" type="submit" value="{{ _('Send email') }}">
    <a class="button" href="/group/{{ dn }}">{{ _("Cancel") }}</a>
</form>

{% endblock %}
