{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<h2>{{ _("Please set your new password") }}</h2>


<div class="row">
    <div class="columns twelve">
        <form method=post>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <p>
                <b>{{ _('Think of a longer, easier to remember passphrase') }}</b>
                </p>
                
                <p>
                <b><i>b4rcel0n4</i></b>
                {{ _('is not a good password') }}
                <i style="color:red" class="fa fa-meh-o" aria-hidden="true"></i>
                <br />
                <b><i>{{ _("There were fleas last summer in Menorca.") }}</i></b>
                {{ _('is better') }}
                <i style="color:#00C957" class="fa fa-smile-o" aria-hidden="true"></i>
                </p>
                
                <dl>
                {{ render_field(form.password) }}
                {{ render_field(form.confirm_password) }}
                </dl>
            <input type=submit value="{{ _('Set password') }}">
        </form>
    </div>
</div>


{% endblock %}
