{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="columns eight" style="font-size: 1.5em">
        {{ _("User petition") }}
    </div>
    <div class="columns four">
        {% if isAdmin %}
            <a href="/delete/{{ user.id }}" class="button">{{ _("Delete petition") }}</a>
        {% endif %}
    </div>
</div>

<p></p>
<div class="row">
    <div class="columns four">
        <b>Name</b>
        <br/>
        {{ user.name }}
    </div>
    <div class="columns four">
        <b>Surname</b>
        <br/>
        {{ user.surname }}
    </div>
    <div class="columns four">
        <b>Language</b>
        <br/>
        {{ user.getLanguage() }}
    </div>
</div>
<p></p>
<div class="row">
    <div class="columns four">
        <b>Registered</b>
        <br/>
        {{ user.created }}
    </div>
    <div class="columns four">
        <b>mail</b>
        {% if user.validated_mail == True %}
            <i style="color:green;" class="fa fa-check-circle" aria-hidden="true"></i>
        {% else %}
            <i style="color:red;" class="fa fa-question-circle" aria-hidden="true"></i>
        {% endif %} 
        <br/>       
        {{ user.mail }}
    </div>
    <div class="columns four">
        <b>Primary collective</b>
        <br/>
        {{ user.primary_collective }}
        {% if isAdmin %}
            <a href="/edit/{{ user.id }}/primary_collective"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            {% if not collectiveExists %}
                <br />
                {{ _('Does not exist') }}
                <i style="color:orange;" class="fa fa-info-circle" aria-hidden="true"></i>
            {% endif %}
            
        {% endif %}
    </div>
</div>
<p></p>
<div class="row">
    <div class="columns eight">
        <b>Short biography</b>
        <br/>
        {{ user.short_bio }}
    </div>
    <div class="columns four">
        {% if isAdmin and collectiveExists %}
            <form action="/notify-manager/{{ user.id }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type=submit value="{{ _('Notify manager') }}">
            </form> 
        {% endif %}
    </div>
</div>
<hr />
{% block form %}{% endblock %}
{% endblock %}
